body {
    margin: 0;
    
}

#tipo-senha {
    margin-top: 10px;
}

#pass {
    color: rgb(0, 0, 0);
    margin: 10%;
}

.container {
    background: rgb(99, 99, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.box {
    background-color: rgb(44, 44, 249);
    padding: 2%;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}