body {
    margin: 0;
    
}

#pass_type {
    margin-top: 10px;
}

#pass, #pass_text {
    color: rgb(0, 0, 0);
    margin: 5%;
    font-size: x-large;
}

#copy_button {
    margin: 5%;
}

.container {
    background: linear-gradient(rgb(0, 0, 0), gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.box {
    background-color: rgb(159, 159, 228);
    padding: 2%;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}