@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    box-shadow: 0 1px 10px #646262;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    padding: 5px;
    outline: none;
    accent-color: blue;
    border-color: blue;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
}

input[type=range] {
    width: 90%;
}

input[type=button] {
    background-color: rgb(55, 0, 255);
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px;
}